*{
    margin: 0;
    padding: 0;
}
.body{
    color: white;
    /* width: 100%; */
    background-color: black;
}
.bio{
    color: #F7D7C8;
    font-size: 60px;
}
.file{
    align-items: center;
    text-align: center;
    text-align: justify;
}
img{
    border-radius: 150px;
    width:250px;
    height: 250px;
}
.p{
    align-items:center ;
    font-size: 8px;
    line-height: 1.5;
    font-family:sans-serif;
    display: block;
    color: rgb(156, 149, 149);
    
 }
/*
.bio{
font-size: 70px;
font-weight: lighter;
color: rgb(250, 214, 202);
}
.img{
    border-radius: 200px;
    border:transparent;
    width: 350px;
    height: 350px;
}
.h3{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.p{
   align-items:center ;
   text-align: justify;
   justify-items: center;
   font-size: 1rem;
   font-family:sans-serif;
   font-weight: lighter;
   display: block;
   margin: 0px 70px 30px 250px;
   color: rgb(156, 149, 149);
}
.one{
    text-align: center;
    font-size: 65px;
}
.hr{
    width:55%;
    color: rgb(236, 207, 152);
}
.term{
    font-size: 50px;
    color: #F7D7C8;
}
.chat{
    font-size: 20px;
    padding-bottom: 15px;
}
.port{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 17px;
    color: #F7D7C8;
    padding-bottom: 80px;
}
.pics{
    border-radius: 25px;
    height: 300px;
    width: 300px;
    transition: 1s;
}
.pics:hover{
    transform: scale(1.1);
    z-index: 2;
}
.button{
    border: 1px solid burlywood;
    padding: 25px 60px;
    margin: 30px;
    cursor: pointer;
    background-color: black;
    color: burlywood;
}
.button:hover{
color: rgb(12, 12, 12);
background-color: white;
}
.h1{
    text-align: center;
    font-size: 50px;
    margin-top: -150px;
    color: rgb(250, 214, 202);;
}
.h3a{
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
    font-family: sans-serif;
}
.img-down{
    border-radius: 150px;
    width: 200px;
    height: 200px;   
}
.h3b{
    text-align: center;
    font-size: 20px;
    font-family: ubuntu, sans-serif;
}
.h3c{
    font-family:  sans-serif;
    font-size: 14px;
    line-height: 1;
    color: rgb(243, 237, 237);
}
.hr2{
 width: 17%;   
 height: 8px;
 background-color: rgb(248, 170, 142);
}
.pod{
    float: left;
    text-align: justify;
    padding-bottom: 160px;
}
.pod-h{
    font-size: 18px;
    color: #F7D7C8;
    padding-top: -10px;
    font-family: Arial, Helvetica, sans-serif;
}
.pod-ha{
    font-size:15px ;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: rgb(243, 237, 237);
}
.gap{
    float: right;
    text-align: justify;
    padding-left: 90px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: rgb(243, 237, 237);
}
.para{
    margin: 100px;
    display: flex;
    flex-direction: row;
}
.sample{
    background-color: rgb(63, 60, 60);
    height: 205px;
    padding-top: 40px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1;
  color: rgb(243, 237, 237)
}
.samp{
    background-color: rgb(63, 60, 60);
    margin-top: -30px;
    font-size: 15px;
    margin-bottom: -20px;
}
.temp{
    color:rgb(161, 106, 161);
}
.web{
    color: rgb(167, 111, 167);
}
.pud{
    float: left;
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
}
.pud-h{
    font-size: 32px;
    font-family: sans-serif;
    color: #F7D7C8;
    justify-self: inherit;
}
.pud-ha{
    letter-spacing: 3px;
    line-height: 1.3;
    font-weight:bold;
    font-family: sans-serif;
}
.gem{
    float: right;
    text-align: justify;
    padding-top: 10px;
}
.pound{
    margin: 100px;
    display: flex;
    flex-direction: row;

}
.gem-p{
    font-size: 25px;
    color: #F7D7C8;
}
.gem-pa{
    line-height: 2;
    font-family: sans-serif;
}
.click{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1;
    color: rgb(243, 237, 237);
}
.fa-phone{
    color:#F7D7C8;
    padding-bottom: 10px;
}
@media screen and (max-width:400px){
    .body{
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        background-color: black;
      
    }
    .img{
        border-radius: 100px;
        border:transparent;
        width: 150px;
        height: 150px;
    }
}